.place__title{
    max-width: 460px;
    min-height: 152px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-area: title;
    margin: 0 40px 48px 0;
}
@media screen and (max-width: 1024){
    .place__title{
        max-width: 440px;
        min-height: 152px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        grid-area: title;
        margin: 0 32px 48px 0;
    }
}
@media screen and (max-width: 768px){
    .place__title{
        max-width: 340px;
        min-height: 93px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        grid-area: title;
        margin: 0 28px 48px 0;
    }
}
@media screen and (max-width: 320px){
    .place__title{
        max-width: 288px;
        min-height: 35px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        grid-area: title;
        margin: 0 28px 48px 0;
    }
}