.place__content{
  margin-top: 48px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-column-gap: 40px;
}
@media screen and (max-width: 1024px){
  .place__content{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 440px 456px;
    grid-column-gap: 32px;
  }
}
@media screen and (max-width: 768px){
  .place__content{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 340px 352px;
    grid-column-gap: 28px;
  }
}
@media screen and (max-width: 320px){
  .place__content{
    margin-top: 0;
    display: grid;
    grid-template-columns: 320px;
    grid-row-gap: 32px;
  }
}