.header{
  max-width: 1184px;
  padding: 28px 0 56px 0;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1024px){
  .header{
    max-width: 928px;
    padding: 28px 0 48px 0;
  }
}
@media screen and (max-width: 768px){
  .header{
    max-width: 720px;
    padding: 28px 24px 48px 24px;
  }
}
@media screen and (max-width: 320px){
  .header{
    max-width: 288px;
    padding: 16px 16px 48px 16px;
  }
}