.place__paragraph{
    width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 48px 0 0 40px;
}
.place__paragraph:nth-child(2){
    margin-top: 26px;
}