.lead__image{
  width: 984px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .lead__image{
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead__image{
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .lead__image{
    max-width: 315px;
  }
}