.lead__image{
  width: 984px;
  margin:0 auto;
}
@media screen and (max-width: 1024px) {
  .lead__image{
    width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead__image{
    width: 766px;
    padding: 0;
  }
}
@media screen and (max-width: 320px) {
  .lead__image{
    width: 320px;
  }
}