.lead__image{
    max-width: 984px;
    max-height: 615px;

}
@media screen and (max-width: 1024px){
    .lead__image{
        max-width: 928px;
        min-height: 580px;
    }
}
@media screen and (max-width: 768px){
    .lead__image{
        max-width: 768px;
        max-height: 480px;
    }
}
@media screen and (max-width: 540px){
    .lead__image{
        max-width: 540px;
        min-height: auto;
    }
}
@media screen and (max-width: 411px){
    .lead__image{
        max-width: 411px;
        min-height: 311px;
    }
}
@media screen and (max-width: 414px){
    .lead__image{
        max-width: 414px;
        min-height: auto;
    }
}
@media screen and (max-width: 375px){
    .lead__image{
        max-width: 375px;
        min-height: auto;
    }
}
@media screen and (max-width: 360px){
    .lead__image{
        max-width: 360px;
        min-height: 220px;
    }
}
@media screen and (max-width: 320px){
    .lead__image{
        max-width: 320px;
        min-height: 200px;
    }
}