.intro__text{
  width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  padding: 40px 0 33px 0;
}
@media screen and (max-width: 768px) {
  .intro__text{
    width: 720px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 40px 0 33px 0;
  }
}
@media screen and (max-width: 320px) {
  .intro__text{
    width: 288px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 40px 0 34px 0;
  }
}