.website__url-heading{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-block-start:0;
  margin-block-end:0;
  margin: 0 0 12px 0;
  padding: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .website__url-heading{
    line-height: 12px;
  }
}
@media screen and (max-width: 320px) {
  .website__url-heading{
    line-height: 12px;
  }
}