.lead__subtitle{
  width: 640px;
  margin: 0 auto;
  padding-top:32px;
  padding-bottom: 64px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px){
  .lead__subtitle{
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 320px){
  .lead__subtitle{
    width: 288px;
    padding-top:16px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
