@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__change-lang/header__change-lang.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/main/main.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url( ../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-weight/intro__list-weight.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__header/place__header.css);
@import url(../blocks/place/__header-title/place__header-title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__content/place__content.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraphs/place__paragraphs.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

.footer{
  width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1024px){
  .footer{
    width: 928px;
    display: flex;
    padding-top:92px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 1010px){
  .footer{
    width: 720px;
    padding-top:88px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 768px){
  .footer{
    width: 720px;
    padding-top:88px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 414px){
  .footer{
    margin: 0;
    width: 186px;
    flex-wrap: wrap;
    padding: 64px 0 24px 16px;
  }
}
@media screen and (max-width: 320px){
  .footer{
    margin: 0;
    width: 186px;
    flex-wrap: wrap;
    padding: 64px 0 24px 16px;
  }
}
.footer__nav{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 414px) {
  .footer__nav{
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .footer__nav{
    flex-direction: column;
  }
}
.footer__links{
  padding-right: 18px;
}
.footer__links:nth-child(5){
  padding-right: 0;
}
@media screen and (max-width:414px){
  .footer__links{
    padding-right: 0;
    padding-bottom: 32px;
  }
}
@media screen and (max-width:320px){
  .footer__links{
    padding-right: 0;
    padding-bottom: 32px;
  }
  .footer__links:nth-child(5){
    padding-bottom: 0;
  }
}
.footer__link{
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.footer__link:hover{
  opacity: 0.8;
}
@media screen and (max-width:414px) {
  .footer__link{
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (max-width:320px) {
  .footer__link{
    font-size: 24px;
    line-height: 24px;
  }
}
.footer__copyright{
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 414px) {
  .footer__copyright{
    line-height: 14px;
    padding-top: 48px;
  }
}
@media screen and (max-width: 320px) {
  .footer__copyright{
    line-height: 14px;
    padding-top: 48px;
  }
}