.place{
    color: #fff;
    list-style: none;
    display: grid;
    grid-template-areas: "title website"
                        "image paragraph";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width:320px){
    .place{
        color: #fff;
        list-style: none;
        display: grid;
        grid-template-areas: "title" 
                            "website"
                            "image"
                            "paragraph";
        grid-template-columns: 288px 288px 320px 288px;
        grid-auto-flow: column;
    }
}