.place{
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 80px;
}
@media screen and (max-width: 1024px){
  .place{
    max-width: 928px;
  }
}
@media screen and (max-width: 768px){
  .place{
    max-width: 720px;
    padding-bottom: 73px;
  }
}
@media screen and (max-width: 320px){
  .place{
    max-width: 320px;
    padding-bottom: 50px;
  }
}